<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>Jtc-7</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


	<context-param>
		<param-name>State</param-name>
		<param-value>UP</param-value>
	</context-param>

	<context-param>
		<param-name>Country</param-name>
		<param-value>India</param-value>
	</context-param>

	<context-param>
		<param-name>Institute</param-name>
		<param-value>JTC</param-value>
	</context-param>

	<servlet>
		<servlet-name>demoservlet</servlet-name>
		<servlet-class>com.jtc.p1.DemoServlet</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>abc@jtcindia.org</param-value>
		</init-param>

		<init-param>
			<param-name>city</param-name>
			<param-value>Noida</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>

	</servlet>

	<servlet-mapping>
		<servlet-name>demoservlet</servlet-name>
		<url-pattern>/mydemo.jtc</url-pattern>
	</servlet-mapping>

</web-app>